*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


body{
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container{
position: relative;
width: 100%;
min-width: 1000px;
min-height: 1000px;
background: white;
margin: 50px;
display: grid;
grid-template-columns: 1fr 2fr;
box-shadow: 30px 30px 30px rgba(24, 22, 22, 1);

}

.container .left{
	position: relative;
	background: black;
	padding: 55px;

}

.container .right{
	position: relative;
	background: white;
	padding: 50px;
}

.profileText{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-bottom: 5px rgba(255, 255, 255, 1);
}

.profileText .profileImg{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}
.profileText .profileImg img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profileText h3{
	color: white;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.profileText h3 span{
	font-size: 0.7em;
	font-weight: 300;
}

.Info{
	padding: 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 5px solid rgba(255, 255, 255, 1);
}

.title{
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.4px;
	margin-bottom: 20px;
}

.Info ul{
	position: relative;

}

.Info ul li{
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.Info ul li span{
	font-weight: 200;
	color: white;
}



.Education ul{
	position: relative
}
.Education{
	color: white;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;

}
.Education ul li{
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
	font-weight: 200;
	font-style: ;
}
.about {
border-bottom: 5px solid rgba(24, 22, 22, 1);
}
.about h2{
	color: black;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}
.about ul{
	position: static;
}
.about ul li{
	position: relative;
	list-style: initial;
	font-size: 0.9em;
	margin: 20px 0;
	cursor: pointer;
}
.projects h2{
	color: black;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}
.projects p{
	position: relative;
	list-style: initial;
	font-size: 1.1em;
	margin: 5px 0;
	cursor: pointer;
}
.projects ol{
border-bottom: 5px solid rgba(24, 22, 22, 1);
}

.interest ul{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.interest ul li{
	list-style: none;
	font-weight: 500;
	margin: 12px 0;
}
.interest ul li .icon{
	color: black;
	font-size: 18px;
	width: 35px;
}
